<h1 class="text-4xl font-bold mb-6"><%= @project.title %></h1>
<p class="text-gray-400 text-lg mb-4"><%= @project.summary %></p>
<p class="text-gray-300 text-base mb-4"><%= @project.description %></p>

<h2 class="text-2xl font-bold mt-6">Collaborators</h2>
<ul class="mt-4">
  <% if @project.approved_collaborators.present? %>
    <% @project.approved_collaborators.each do |collaborator| %>
      <li class="text-gray-300"><%= collaborator.full_name %></li>
    <% end %>
  <% else %>
    This project does not have any collaborators yet...
  <% end %>
</ul>

<%= render "research_projects/project_controls", project: @project, user: current_user %>

<h2 class="text-2xl font-bold mt-6">Contributor Notes</h2>
<ul class="mt-4">
  <% if @project.collaborator_notes.present? %>
    <% @project.collaborator_notes.each do |note| %>
      <li class="bg-gray-800 p-4 rounded-lg shadow-md mb-2">
        <p class="text-gray-300"><%= note.content %></p>
        <p class="text-sm text-gray-500">By <%= note.user.name %> - <%= note.entry_type.capitalize %></p>
      </li>
    <% end %>
  <% else %>
    This project does not have any notes yet...
  <% end %>
</ul>
