<!DOCTYPE html>
<html>
<head>
  <title>Skylark</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body class="bg-gray-900 text-white font-sans">

<div class="flex h-screen">
  <% if current_user %>
    <!-- Sidebar -->
    <% if controller.class.name.start_with?("SuperAdmin::") %>
      <aside class="w-64 bg-gray-800 p-6 hidden md:block">
        <h1 class="text-2xl font-bold mb-6">
          <%= link_to "Super Admin", super_admin_dashboard_path , class: "text-red-500"%>
        </h1>
        <nav>
          <ul class="space-y-4">
            <li>
              <%= link_to "Dashboard", super_admin_dashboard_path,
                          class: "block p-2 rounded text-gray-300 hover:text-white" %>
            </li>
            <li>
              <%= link_to "Users", super_admin_users_path,
                          class: "block p-2 rounded text-gray-300 hover:text-white" %>
            </li>
            <li>
              <%= link_to "Organizations", super_admin_organizations_path,
                          class: "block p-2 rounded text-gray-300 hover:text-white" %>
            </li>
            <li>
              <%= link_to "Tags", super_admin_tags_path,
                          class: "block p-2 rounded text-gray-300 hover:text-white" %>
            </li>
            <li>
              <%= link_to "Categories", super_admin_categories_path,
                          class: "block p-2 rounded text-gray-300 hover:text-white" %>
            </li>
            <li>
              <%= link_to "Go Back to App", dashboard_path,
                          class: "block p-2 rounded text-gray-300 hover:text-white" %>
            </li>
          </ul>
        </nav>
      </aside>
    <% else %>
      <aside class="w-64 bg-gray-800 p-6 hidden md:block">
        <h1 class="text-2xl font-bold mb-6">
          <%= link_to "Skylark", dashboard_path %>
        </h1>
        <nav>
          <ul class="space-y-4">
            <li>
              <%= link_to "Dashboard", dashboard_path,
                          class: "block p-2 rounded text-gray-300 hover:text-white" %>
            </li>
            <li>
              <%= link_to "Projects", projects_path,
                          class: "block p-2 rounded text-gray-300 hover:text-white" %>
            </li>
            <li>
              <%= link_to "Explore", explore_index_path,
                          class: "block p-2 rounded text-gray-300 hover:text-white" %>
            </li>
            <li>
              <%= link_to "Community", community_index_path,
                          class: "block p-2 rounded text-gray-300 hover:text-white" %>
            </li>
            <li>
              <%= link_to "Settings", user_settings_path,
                          class: "block p-2 rounded text-gray-300 hover:text-white" %>
            </li>
            <li>
              <%= button_to "Logout", logout_path, method: :delete,
                            class: "bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded",
                            data: { confirm: "Are you sure you want to log out?" } %>
            </li>
          </ul>
        </nav>
      </aside>
    <% end %>
  <% end %>

  <!-- Main Content -->
  <main class="flex-1 p-6 overflow-auto">
    <!-- Flash Messages -->
    <div class="container mx-auto p-4">
      <% if flash[:notice] %>
        <div class="bg-green-500 text-white p-3 rounded mb-4">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="bg-red-500 text-white p-3 rounded mb-4">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </main>
</div>
</body>
</html>
