<!DOCTYPE html>
<html>
<head>
  <title>Roma Cube</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
</head>

<body>
<!-- Navbar -->

<!-- Main Content -->
<main class="container mx-auto px-4 py-8 max-w-screen-lg">
  <nav class="flex justify-between items-center mb-6">
    <div class="text-lg font-bold">The Cube</div>
    <div class="flex space-x-4">
      <nav class="flex space-x-4">
        <%= link_to "Home", dashboard_path, class: "text-blue-500 hover:underline mr-4" %>
        <%= link_to "About", about_path, class: "text-blue-500 hover:underline mr-4" %>
        <%= link_to "Investment Opportunities", investment_opportunities_path, class: "text-blue-500 hover:underline mr-4" %>
        <%# if current_user.is_admin? %>
          <%#= link_to "Admin Panel", "/admin", class: "text-blue-500 hover:underline mr-4" %>
        <%# end %>
        <%= button_to "Logout", "/logout", method: :delete, class: "text-blue-500 hover:underline bg-transparent border-none cursor-pointer" %>
      </nav>
    </div>
  </nav>

  <div class="mt-8">
    <main>
      <!-- Flash Messages -->
      <div class="container mx-auto px-4">
        <% flash.each do |key, message| %>
          <div
            class="mt-4 p-4 rounded-lg shadow-lg
                 <%= key == 'notice' ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800' %>">
            <%= message %>
          </div>
        <% end %>
      </div>

      <%= yield %>
    </main>
  </div>
</main>
</body>
</html>
